<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>inicio</title>
  </head>

  <body>
    <style>
      @import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
      }
      body {
        background: "white";
      }
      header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 30px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center; 
        background-color: #000000;
        border-radius: 5px;
        height: 120px;
      }
      header .logo {
        color: #000000;
        font-size: 700;
        text-decoration: none;
        font-size: 100px;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      header ul {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      header ul li {
        list-style: none;
        margin: 20px;
      }
      header ul li a {
        text-decoration: none;
        padding: 6px 15px;
        color: #ffffff;
        border-radius: 20px;
      }

      header ul li a:hover,
      header ul li a.active {
        background: #dfdede;
      }
      section {
        position: relative;
        width: 100%;
        height: 100vh;
        padding: 8em 3px 30px 70px;
        display: flex;
        margin-top: 100px;
      }

      #text {
        width: 1263px;
        height: 531px;
        position: absolute;
        color: #000000;
        white-space: nowrap;
        font-size: 100px;
        z-index: 9;
        justify-content: center;
        line-height: 100px;
        font-weight: 700px;
        font-style: normal;
      }
      h2 {
        position: absolute;
        width: 400px;
        height: 100px;
        padding: 3px 30px 5px;
        font-family: "Blogger Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 100px;
        line-height: 50px;
        color: #000000;
      }
      div {
        width: 100%;
        display: flex;
      }
      .contenedor-div {
        position: relative;
        width: 65%;
        height: 100vh;
        padding: 16em 15em 50px;
        display: flex;
        right: 75em;
        font-weight: 100px;
      }

      i {
        color: #000000;
      }
      form button {
        text-decoration: none;
        display: inline-block;
        padding: 8px 30px;
        border-radius: 40px;
        background: #bbbbbb;
        color: #2b1055;
        font-size: 1em;
        transform: translateY(100px);

        z-index: 9;
      }
     
      .site-footer {
        background-color: #000000;
        padding: 45px 50px 30px;
        font-size: 15px;
        line-height: 24px;
        color: #d4d2d2;
      }
      .site-footer hr {
        border-top-color: #dddada;
        opacity: 0.5;
      }
      .site-footer hr.small {
        margin: 20px 0;
      }
      .site-footer h6 {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 5px;
        letter-spacing: 2px;
      }
      .site-footer a {
        color: #737373;
      }
      .site-footer a:hover {
        color: #3366cc;
        text-decoration: none;
      }
      .footer-links {
        padding-left: 0;
        list-style: none;
      }
      .footer-links li {
        display: block;
      }
      .footer-links a {
        color: #737373;
      }
      .footer-links a:active,
      .footer-links a:focus,
      .footer-links a:hover {
        color: #3366cc;
        text-decoration: none;
      }
      .footer-links.inline li {
        display: inline-block;
      }
      .site-footer .social-icons {
        text-align: right;
      }
      .site-footer .social-icons a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-left: 6px;
        margin-right: 0;
        border-radius: 100%;
        background-color: #33353d;
      }
      .copyright-text {
        margin: 0;
      }
      @media (max-width: 991px) {
        .site-footer [class^="col-"] {
          margin-bottom: 30px;
        }
      }
      @media (max-width: 767px) {
        .site-footer {
          padding-bottom: 0;
        }
        .site-footer .copyright-text,
        .site-footer .social-icons {
          text-align: center;
        }
      }
      .social-icons {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
      }
      .social-icons li {
        display: inline-block;
        margin-bottom: 4px;
      }
      .social-icons li.title {
        margin-right: 15px;
        text-transform: uppercase;
        color: #96a2b2;
        font-weight: 700;
        font-size: 13px;
      }
      .social-icons a {
        background-color: #eceeef;
        color: #000000;
        font-size: 16px;
        display: inline-block;
        line-height: 44px;
        width: 44px;
        height: 44px;
        text-align: center;
        margin-right: 8px;
        border-radius: 100%;
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
      }
      .social-icons a:active,
      .social-icons a:focus,
      .social-icons a:hover {
        color: #fff;
        background-color: #29aafe;
      }
      .social-icons.size-sm a {
        line-height: 34px;
        height: 34px;
        width: 34px;
        font-size: 14px;
      }
      .social-icons a.facebook:hover {
        background-color: #3b5998;
      }
      .social-icons a.twitter:hover {
        background-color: #00aced;
      }
      .social-icons a.linkedin:hover {
        background-color: #007bb6;
      }
      .social-icons a.dribbble:hover {
        background-color: #ea4c89;
      }
      @media (max-width: 767px) {
        .social-icons li.title {
          display: block;
          margin-right: 0;
          font-weight: 600;
        }
      }
      #loguito{
        background-color: #ffffff;
        width:99px;
        border-radius: 50%;
      }
      #ciego{
      margin-left: 500px;
      width: 500px;
      height: 500px;
      }
    </style>

    <header>
      <div id="loguito">
      <a href="/"><img src="/public/img/lynya.png" width="100px"/></a>    
    </div>
      <ul>
        <li><a href="/appi">Lyn</a></li>
        <li><a href="/empres">About</a></li>
        <li><a href="/ini">Graficas</a></li>
        <li><a href="/formu">Formulario</a></li>
      </ul>
    </header>
    
    <section>

      <h2 id="text">LYN</h2>
      <div id="ciego"><img src="public/img/ciego.jpg" width="500px" height="500px" /></div>
      <div class="contenedor-div">
        <h3>Conoce la nueva aplicacion en la que esta trabajando Ztart-Op</h3>
       
      </div>
    </section>
    
    <footer class="site-footer">
      <div class="container">
        <div class="row" >
          <div class="col-sm-12 col-md-6" >
            <h6>About:</h6>
            
            <p class="text-justify">
              LYN es un proyecto enfocado en la creación de un asistente virtual que logre  
              reconocer texto y objetos; con ayuda de la inteligencia artificial será capaz 
              de  leer e indicar lo que la cámara esté enfocando, o bien seleccionando la 
              imagen por medio de la galería del dispositivo utilizado

            </p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/category/c-language/">JavaScrip</a></li>
              
              <li>
                <a href="http://scanfcode.com/category/back-end-development/"
                  >React Native</a
                >
              </li>
              <li>
                <a
                  href="http://scanfcode.com/category/java-programming-language/"
                  >XML</a
                >
              </li>
              <li>
                <a href="http://scanfcode.com/category/android/">Android</a>
              </li>
              <li>
                <a href="http://scanfcode.com/category/templates/">FireBase</a>
              </li>
            </ul>
          </div>

          
        </div>
        <hr />
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">
              Copyright &copy; 2023 All Rights Reserved by
              <a href="#">ZtartOp</a>.
            </p>
          </div>

          
        </div>
      </div>
    </footer>
  </body>
</html>

